## Importing Important Libraries

In [242]:
import pandas as pd
import numpy as np
import os
import shutil
import cv2 
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix

## Assesing Dataset

In [187]:
traindf = pd.read_csv('E:\procom24\Round1_B\Train.csv')
traindf

           ID     Label
0   a1edc.jpg    Normal
1   aa003.jpg    Normal
2   6e832.jpg    Normal
3   f6de6.jpg    Normal
4   2a6e3.jpg    Normal
..        ...       ...
77  0b458.jpg    Normal
78  957a7.jpg  Abnormal
79  cfad1.jpg  Abnormal
80  2e79a.jpg    Normal
81  32b3a.jpg  Abnormal

[82 rows x 2 columns]

In [188]:
base_dir = "E:\procom24\Round1_B"
train_images = os.path.join(base_dir,"train_images")
train_dir = os.path.join(base_dir,"train")
test_dir = os.path.join(base_dir,"test_images")

In [189]:
print(os.listdir(train_images))

['002c3.jpg', '0314a.jpg', '09c87.jpg', '0ac96.jpg', '0addf.jpg', '0b458.jpg', '10cce.jpg', '12f3b.jpg', '19793.jpg', '19dac.jpg', '1fa8a.jpg', '21d0f.jpg', '23f9d.jpg', '24563.jpg', '258e4.jpg', '268f8.jpg', '28752.jpg', '29eb0.jpg', '2a6e3.jpg', '2e79a.jpg', '32b3a.jpg', '391dd.jpg', '3a639.jpg', '3c3e2.jpg', '3e169.jpg', '490b4.jpg', '54695.jpg', '5dc2a.jpg', '622ca.jpg', '69e45.jpg', '6a433.jpg', '6a79a.jpg', '6aa71.jpg', '6d6ff.jpg', '6d77d.jpg', '6e832.jpg', '76114.jpg', '7bd5e.jpg', '81e79.jpg', '88757.jpg', '9054b.jpg', '93a45.jpg', '957a7.jpg', '9678e.jpg', '984fe.jpg', '9b936.jpg', '9c30e.jpg', 'a1edc.jpg', 'a5096.jpg', 'a6226.jpg', 'a6763.jpg', 'a73d7.jpg', 'a81e1.jpg', 'aa003.jpg', 'ab5ba.jpg', 'abeb5.jpg', 'afa9b.jpg', 'b3b7e.jpg', 'b4fce.jpg', 'b6c69.jpg', 'c1390.jpg', 'c21a9.jpg', 'cb7b6.jpg', 'ccc04.jpg', 'cedf4.jpg', 'cfad1.jpg', 'd00f3.jpg', 'd5463.jpg', 'd7d98.jpg', 'da502.jpg', 'dd2d2.jpg', 'e17e3.jpg', 'e6981.jpg', 'eb1e7.jpg', 'ef004.jpg', 'f0803.jpg', 'f6de6.jpg', 'f8a85.jpg', 'f9e57.jpg', 'fa093.jpg', 'fb5c9.jpg', 'ff8b2.jpg']

## Preprocessing Images & matching target variables

In [190]:
#os.mkdir(train_dir)
#os.mkdir(test_dir)
df = pd.DataFrame()
temp = []

for i in traindf['ID']:

    # print(i)
    
    imagepath = os.path.join(train_images, i)

    original_image = cv2.imread(imagepath)

    # Check if the image is successfully loaded
    if original_image is None:
        print("Error: Could not open or find the image.")
    else:
        # Convert the image to grayscale
        grayscale_image = cv2.cvtColor(original_image, cv2.COLOR_BGR2GRAY)

        temp.append(grayscale_image.ravel())
        #temp.append(traindf['Label'][j])

        # Wait for a key event and close the windows

        cv2.waitKey(0)
        cv2.destroyAllWindows()
    
array = np.array(temp)
imageonlydf =pd.DataFrame(array)

In [191]:
imageonlydf['label'] = traindf['Label']

In [192]:
imageonlydf

,0,1,2,3,4,5,6,7,8,9,...,3145719,3145720,3145721,3145722,3145723,3145724,3145725,3145726,3145727,label
0,203,203,203,202,202,204,204,201,202,204,...,117,116,116,117,116,116,118,119,120,Normal
1,245,242,242,236,232,224,219,210,206,201,...,183,177,162,154,160,158,165,173,172,Normal
2,243,242,242,242,242,243,243,241,246,244,...,150,164,174,172,158,157,143,135,132,Normal
3,149,149,150,147,148,147,147,145,144,144,...,124,128,129,123,130,132,136,133,147,Normal
4,133,139,123,121,123,120,123,114,117,122,...,229,236,250,248,244,244,240,234,237,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,171,174,176,175,174,166,159,153,146,148,...,248,249,249,252,252,250,250,252,253,Normal
78,254,254,255,255,255,255,255,255,255,255,...,69,68,70,69,70,73,72,72,70,Abnormal
79,136,136,137,137,138,138,136,135,130,133,...,97,94,97,93,89,82,76,74,72,Abnormal
80,234,234,227,227,228,228,220,218,213,211,...,126,121,125,132,137,138,139,139,140,Normal
81,135,135,136,137,135,135,135,134,132,131,...,119,122,120,121,119,119,117,116,112,Abnormal

In [193]:
X = imageonlydf.drop('label', axis = 1, inplace = False)

## Using MinMaxScaling

In [194]:
mmscaler = MinMaxScaler()

In [195]:
mmscaler.fit(X)

MinMaxScaler()

In [196]:
X = mmscaler.transform(X)

In [197]:
scaleddf = pd.DataFrame(X)

In [198]:
scaleddf['label'] = traindf['Label']

In [199]:
scaleddf

,0,1,2,3,4,5,6,7,8,9,...,3145719,3145720,3145721,3145722,3145723,3145724,3145725,3145726,3145727,label
0,0.736041,0.736041,0.737374,0.733668,0.733668,0.748768,0.751220,0.741627,0.748815,0.757143,...,0.386667,0.373874,0.368182,0.345972,0.328502,0.321951,0.356808,0.381818,0.391892,Normal
1,0.949239,0.934010,0.934343,0.904523,0.884422,0.847291,0.824390,0.784689,0.767773,0.742857,...,0.680000,0.648649,0.577273,0.521327,0.541063,0.526829,0.577465,0.627273,0.626126,Normal
2,0.939086,0.934010,0.934343,0.934673,0.934673,0.940887,0.941463,0.933014,0.957346,0.947619,...,0.533333,0.590090,0.631818,0.606635,0.531401,0.521951,0.474178,0.454545,0.445946,Normal
3,0.461929,0.461929,0.469697,0.457286,0.462312,0.467980,0.473171,0.473684,0.473934,0.471429,...,0.417778,0.427928,0.427273,0.374408,0.396135,0.400000,0.441315,0.445455,0.513514,Normal
4,0.380711,0.411168,0.333333,0.326633,0.336683,0.334975,0.356098,0.325359,0.345972,0.366667,...,0.884444,0.914414,0.977273,0.966825,0.946860,0.946341,0.929577,0.904545,0.918919,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,0.573604,0.588832,0.601010,0.597990,0.592965,0.561576,0.531707,0.511962,0.483412,0.490476,...,0.968889,0.972973,0.972727,0.985782,0.985507,0.975610,0.976526,0.986364,0.990991,Normal
78,0.994924,0.994924,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.173333,0.157658,0.159091,0.118483,0.106280,0.112195,0.140845,0.168182,0.166667,Abnormal
79,0.395939,0.395939,0.404040,0.407035,0.412060,0.423645,0.419512,0.425837,0.407583,0.419048,...,0.297778,0.274775,0.281818,0.232227,0.198068,0.156098,0.159624,0.177273,0.175676,Abnormal
80,0.893401,0.893401,0.858586,0.859296,0.864322,0.866995,0.829268,0.822967,0.800948,0.790476,...,0.426667,0.396396,0.409091,0.417062,0.429952,0.429268,0.455399,0.472727,0.481982,Normal
81,0.390863,0.390863,0.398990,0.407035,0.396985,0.408867,0.414634,0.421053,0.417062,0.409524,...,0.395556,0.400901,0.386364,0.364929,0.342995,0.336585,0.352113,0.368182,0.355856,Abnormal

## Using LabelEncoding for Target Variables

In [200]:
label = LabelEncoder()

In [201]:
label.fit(scaleddf['label'])

LabelEncoder()

In [202]:
scaleddf['enclabel'] = label.transform(scaleddf['label'])

In [203]:
scaleddf

,0,1,2,3,4,5,6,7,8,9,...,3145720,3145721,3145722,3145723,3145724,3145725,3145726,3145727,label,enclabel
0,0.736041,0.736041,0.737374,0.733668,0.733668,0.748768,0.751220,0.741627,0.748815,0.757143,...,0.373874,0.368182,0.345972,0.328502,0.321951,0.356808,0.381818,0.391892,Normal,1
1,0.949239,0.934010,0.934343,0.904523,0.884422,0.847291,0.824390,0.784689,0.767773,0.742857,...,0.648649,0.577273,0.521327,0.541063,0.526829,0.577465,0.627273,0.626126,Normal,1
2,0.939086,0.934010,0.934343,0.934673,0.934673,0.940887,0.941463,0.933014,0.957346,0.947619,...,0.590090,0.631818,0.606635,0.531401,0.521951,0.474178,0.454545,0.445946,Normal,1
3,0.461929,0.461929,0.469697,0.457286,0.462312,0.467980,0.473171,0.473684,0.473934,0.471429,...,0.427928,0.427273,0.374408,0.396135,0.400000,0.441315,0.445455,0.513514,Normal,1
4,0.380711,0.411168,0.333333,0.326633,0.336683,0.334975,0.356098,0.325359,0.345972,0.366667,...,0.914414,0.977273,0.966825,0.946860,0.946341,0.929577,0.904545,0.918919,Normal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,0.573604,0.588832,0.601010,0.597990,0.592965,0.561576,0.531707,0.511962,0.483412,0.490476,...,0.972973,0.972727,0.985782,0.985507,0.975610,0.976526,0.986364,0.990991,Normal,1
78,0.994924,0.994924,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.157658,0.159091,0.118483,0.106280,0.112195,0.140845,0.168182,0.166667,Abnormal,0
79,0.395939,0.395939,0.404040,0.407035,0.412060,0.423645,0.419512,0.425837,0.407583,0.419048,...,0.274775,0.281818,0.232227,0.198068,0.156098,0.159624,0.177273,0.175676,Abnormal,0
80,0.893401,0.893401,0.858586,0.859296,0.864322,0.866995,0.829268,0.822967,0.800948,0.790476,...,0.396396,0.409091,0.417062,0.429952,0.429268,0.455399,0.472727,0.481982,Normal,1
81,0.390863,0.390863,0.398990,0.407035,0.396985,0.408867,0.414634,0.421053,0.417062,0.409524,...,0.400901,0.386364,0.364929,0.342995,0.336585,0.352113,0.368182,0.355856,Abnormal,0

In [204]:
scaleddf.drop('label', inplace=True, axis = 1)

In [205]:
X = scaleddf.drop('enclabel', axis = 1)

In [206]:
y = scaleddf['enclabel']

## Using SVM

In [207]:
model1 = SVC()

In [208]:
X_train, X_test, y_train, y_test = tts(X, y, test_size= 0.3)

In [209]:
len(X_test) / (len(X_train) + len(X_test))

0.3048780487804878

In [210]:
model1.fit(X_train, y_train)

SVC()

In [211]:
model1.score(X_test, y_test)

0.52

In [212]:
imageonlydf['encLabel'] = scaleddf['enclabel']

In [213]:
imageonlydf.drop('label', axis = 1, inplace = True)

In [214]:
X = imageonlydf.drop('encLabel', axis = 1)

In [215]:
y = imageonlydf['encLabel']

In [216]:
X_train, X_test, y_train, y_test = tts(X, y, test_size= 0.3)

In [217]:
model2 =SVC()

In [218]:
model2.fit(X_train, y_train)

SVC()

In [219]:
model2.score(X_test, y_test)

0.72

## Selecting 80 best features among 3145728 !

In [220]:
kbest = SelectKBest(k = 80)

In [221]:
kbest.fit(X, y)

SelectKBest(k=80)

In [249]:
XL = kbest.transform(X)

In [223]:
#pd.DataFrame(X)

## Using LogisticRegression

In [244]:
model3 = LogisticRegression()

In [245]:
XL_train, XL_test, y_train, y_test = tts(XL, y, test_size= 0.3)

In [246]:
model3.fit(XL_train, y=y_train)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Achieving a better Accuracy Using Logistic Regression

In [247]:
model3.score(XL_train, y_train)

0.9824561403508771

In [228]:
prediction = {}
for test_img in os.listdir(test_dir):
    imagepath = os.path.join(test_dir, test_img)
    original_image = cv2.imread(imagepath)
    if original_image is None:
        print("Error: Could not open or find the image.")
    else:
        grayscale_image = cv2.cvtColor(original_image, cv2.COLOR_BGR2GRAY).ravel()
    
    if len(grayscale_image) != 3145728:
        grayscale_image = np.resize(grayscale_image,(3145728,))
        #print(grayscale_image.shape)
    
    data = kbest.transform([grayscale_image])
    prediction[test_img] = model3.predict(data)

In [253]:
# for pre in prediction.items():
#     print(pre[0] == )

final_df = pd.read_csv("Test.csv")

In [260]:
our_data = pd.DataFrame(prediction).transpose()

In [262]:
finaldf = pd.merge(final_df, our_data, left_on='ID', right_on=our_data.index)

In [264]:
finaldf

           ID  0
0   0c6a5.jpg  0
1   a95c4.jpg  0
2   40ffc.jpg  1
3   0f8d0.jpg  0
4   4f7cc.jpg  1
..        ... ..
77  13d22.jpg  1
78  1944d.jpg  0
79  7e892.jpg  1
80  29cfd.jpg  1
81  fc23b.jpg  1

[82 rows x 2 columns]

In [266]:
finaldf.columns

Index(['ID', 0], dtype='object')

## Classifying Test Images

In [229]:
prediction_df = pd.DataFrame(prediction)
prediction_df = prediction_df.transpose()

prediction_df.columns = ['Prediction']

In [230]:
prediction_df

           Prediction
022d7.jpg           1
05cbc.jpg           1
09749.jpg           0
09993.jpg           1
0c6a5.jpg           0
...               ...
f7256.jpg           1
f755a.jpg           1
f7c16.jpg           0
fc23b.jpg           1
fc26a.jpg           1

[82 rows x 1 columns]

In [231]:
def finalprediction(x):
    if x == 1:
        return 'normal'
    return 'abnormal'

In [267]:
finaldf['Label'] = finaldf[0].apply(finalprediction)

In [269]:
finaldf.drop(0, axis = 1, inplace = True)

In [275]:
finaldf.to_csv('Test.csv', index=False)